{% extends "base.html" %} {% block main_content %}
<main>
  <div>
    <h1>Singup</h1>
    <form class="create_new" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="username"
        autofocus
        placeholder="enter username"
      />
      <input type="password" name="password1" placeholder="password" />
      <input type="password" name="password2" placeholder="confirm password" />
      <button type="submit">Sign Up</button>
    </form>
  </div>
</main>
{% endblock main_content %}
