{% extends "base.html" %} {% block main_content %}
<main>
  <div class="list-page">
    <h1 class="list-page-header">Singup</h1>
    <form class="create_new login" method="post">
      {% csrf_token %}
      <input
        class="login"
        type="text"
        name="username"
        autofocus
        placeholder="enter username"
      />
      <input
        class="login"
        type="password"
        name="password1"
        placeholder="password"
      />
      <input
        class="login"
        type="password"
        name="password2"
        placeholder="confirm password"
      />
      <button class="login" type="submit">Sign Up</button>
    </form>
  </div>
</main>
{% endblock main_content %}
