{% extends "base.html" %} {% block main_content %}
    <main>
        <div class="list-page">
            <div>
                <h1 class="list-page-header">My Tasks</h1>
            </div>
            <div>
                {% if tasks|length > 0 %}
                <table class="task-table">
                    <thead>
                        <th class="task-head">Name</th>
                        <th class="task-head">Start Date</th>
                        <th class="task-head">Due Date</th>
                        <th class="task-head">Is Completed</th>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td class="task-data">{{ task.name }}</td>
                                <td class="task-data">{{ task.start_date }}</td>
                                <td class="task-data">{{ task.due_date }}</td>
                                <td class="task-data">
                                    {% if task.is_completed %}
                                        Done
                                    {% else %}
                                        <form class="completed_task" method="post" action="{% url "complete_task" task.id%}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You have no tasks</p>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock main_content %}
