{% extends "base.html" %} {% block main_content %}
<main>
  <div class="home-wrapper">
    <div class="home-title">
      <h2>{{ current_day }}</h2>
      <h1>{{ current_date }}</h1>
      {% if current_hour < 12 %}
      <h3>Good Morning {{ request.user }}</h3>
      {% elif current_hour > 12 and current_hour < 18 %}
      <h3>Good Afternoon User</h3>
      {% else %}
      <h3>Good Evening User</h3>
      {% endif %}
    </div>
    <div class="home-box">
      <h1>Tasks Due Today</h1>
      {% for task in user_tasks %} {% if task.due_date == current_date %}
      <ul>
          <li>{{ task.name }}</li>
      </ul>
      {% endif %} {% endfor %}
    </div>
    <div class="home-box">
      <h1>Projects</h1>
      {% for project in user_projects %}
        <ul>
            <li><a href="{% url "show_project" project.pk %}"> {{ project.name }}</a></li>
        </ul>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock main_content %}
