{% extends "base.html" %} {% load markdownify %} {% block main_content %}
    <main>
        <div class="list-page">
            <div class="project-task-list">
                <h1 class="list-page-header">{{ project.name }}</h1>
                <p>{{ project.description|markdownify }}</p>
                <h2>Tasks</h2>
            </div>
            <div>
                {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                {% if task.is_completed %}
                                {% else %}
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
            </div>
            <div class="list-page-link">
                <a  class="project-page-link" href="{% url "create_task" %}">Create a new task</a>
            </div>
            <div class="completed-tasks">
                <h1 class="list-page-header">Completed Tasks</h1>
                <table class="task-table completed-tasks">
                    <thead class="completed-tasks">
                        <th class="task-head completed-tasks">Task Name</th>
                        <th class="task-head completed-tasks">Assignee</th>
                    </thead>
                    <tbody class="completed-tasks">
                        {% for task in project.tasks.all %}
                        {% if task.is_completed %}
                        <tr>
                            <td class="task-data">{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock main_content %}
