{% extends "base.html"%} {% block main_content %}
    <main>
        <div class="list-page">
            <div>
                <h1 class="list-page-header">My Projects</h1>
            </div>
            <div>
                {% if projects|length == 0 %}
                <p>You are not assigned to any projects</p>
                {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td><a href="{% url "show_project" project.pk %}">
                                    {{ project.name }}</a></td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="list-page-link">
            <a class="project-page-link" href="{% url "create_project" %}">Create a new project</a>
            <a class="project-page-link" href="{% url "show_my_tasks" %}">Show my Tasks</a>
        </div>
    </main>
{% endblock main_content %}
