{% extends "base.html" %} {% load markdownify %} {% block main_content %}
    <main>
        <div class="list-page">
            <div class="project-task-list">
                <h1 class="list-page-header">{{ project.name }}</h1>
                <p>{{ project.description|markdownify }}</p>
                <h2>Tasks</h2>
            </div>
            <div>
                {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                {% if task.is_completed %}
                                    <td>yes</td>
                                {% else %}
                                    <td>no</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
            </div>
        </div>
        <div class="list-page-link">
            <a  class="project-page-link" href="{% url "create_task" %}">Create a new task</a>
        </div>
    </main>
{% endblock main_content %}
